In [1]:
import pandas as pd

Bussiness

In [3]:
df_business = pd.read_parquet('C:\\Users\\User\\OneDrive\\Escritorio\\Solo lecturas\\bussiness.parquet')

df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44594 entries, 3 to 150339
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   44594 non-null  object
 1   name          44594 non-null  object
 2   state         44594 non-null  object
 3   latitude      44594 non-null  float64
 4   longitude     44594 non-null  float64
 5   stars         44594 non-null  float64
 6   review_count  44594 non-null  int64
 7   is_open       44594 non-null  int64
 8   attributes    43888 non-null  object
 9   categories    44594 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 3.7+ MB

is_open eliminarlo

In [8]:
df_business = df_business.drop(columns=['is_open'])

In [ ]:
df_business

Checkin

In [5]:
df_checkin = pd.read_parquet('C:\\Users\\User\\OneDrive\\Escritorio\\Solo lecturas\\checkin.parquet')

df_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

Metadatos

In [6]:
df_metadatos = pd.read_parquet('C:\\Users\\User\\OneDrive\\Escritorio\\Solo lecturas\\metadatos2.parquet')

df_metadatos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48180 entries, 68 to 3024976
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            48180 non-null  object
 1   address         48180 non-null  object
 2   gmap_id         48180 non-null  object
 3   description     16189 non-null  object
 4   latitude        48180 non-null  float64
 5   longitude       48180 non-null  float64
 6   category        48180 non-null  object
 7   avg_rating      48180 non-null  float64
 8   num_of_reviews  48180 non-null  int64
 9   price           24218 non-null  object
 10  MISC            47888 non-null  object
 11  state           48180 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 4.8+ MB

In [7]:
df_tip = pd.read_parquet('C:\\Users\\User\\OneDrive\\Escritorio\\Solo lecturas\\tip.parquet')

df_tip.info()

<class 'pandas.core.frame.DataFrame'>
Index: 908848 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908848 non-null  object
 1   business_id       908848 non-null  object
 2   text              908848 non-null  object
 3   date              908848 non-null  datetime64[ns]
 4   compliment_count  908848 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 41.6+ MB